  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <strong>Name:</strong>
      <%= @user.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <strong>Email:</strong>
      <%= @user.email %>
    </div>
  </div>
<%= link_to "All Users", users_path %>
