<% provide(:title, "Home") %>
  <div class="row">
    <%= image_tag('lvPasDeChat.jpg', alt: "Laurie Volny Langdon pas de chat", class: "img-responsive",
                  id: "splash-img") %>                  
  </div>
    <p>
      The time is <%= Time.now %>.
    </p>
    <p>
      <%= link_to "Laurie's blog", articles_path %>
  </p>
