// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$serif-default: 'Volkorn', serif;
$sans-serif-default: 'Ubuntu', sans-serif;

// navbar header
.navbar {
  font-family: $sans-serif-default;
}
#nav-name {
  font-size: 1.75em;
}
#nav-text {
  padding-top: 5px;
  font-size: 1.25em;
}
#article-nav-links {
  font-size: 1.25em;
  padding-top: 8px;
}
#ballet-barre-img {
  width: 100%;
  height: 100%;
}

// article section
#articles-nav {
  border-radius: 0px;
}
.article-body {
  font-size: 2rem;
}
#article-body-field {
  height: 300px;
}
.row-centered {
    text-align: center;
}
.articles-section {
	font-family: $serif-default;
	letter-spacing: 0.07rem;
	font-size: 2.5rem;
	line-height: 1.25em;
	color: #3A4145;
	font-weight: 300;
	padding-top: 20px;
    h1 {
    	font-family: $sans-serif-default;
    	font-weight: 300;
    	color: #3A4145;
    }
    a {
    	color: inherit;
      &:hover {
      	text-decoration: none;
      }
    }
}
.article-created-time {
  color: lightgray;
  font-size: 1.4rem;
  font-family: $sans-serif-default;
}
