// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#splash-img {
  // background: url(image-path("lv-splash-img-web.jpg")) no-repeat;
  // min-height: 888px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// .center-block {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

.navbar {
  background: url(image-path("lv_nav_bckgrd.jpg")) center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  border-top: 2px;
  border-color: lightgray;
}
.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

.articles-section {
	font-family: serif;
	letter-spacing: 0.07rem;
	font-size: 2.5rem;
	line-height: 1.25em;
	color: #3A4145;
	font-weight: 300;
	padding-top: 20px;
}
.article-created-time {
  color: lightgray;
  font-size: 1.4rem;
  font-family: Verdana, Geneva, sans-serif;
  // font-family: $sans-serif-font;
}
.articles-section a {
	color: inherit;
}
.articles-section a:hover {
	text-decoration: none;
}
.articles-section h1 {
	font-family: sans-serif;
	font-weight: 300;
	color: #3A4145;
}
