// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$serif-default: 'Vollkorn', serif;
$sans-serif-default: 'Ubuntu', sans-serif;

body {
  font-family: $serif-default;
}
#splash-img {
  margin-top: -60px;    // Move image into transparent navbar background
}
.navbar {
  font-family: $sans-serif-default;
  background: none;
  border-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
}
.nav.navbar-nav {
    width: 100%;
    text-align: center;
    @media (min-width: 400px) {margin-top: -9px;}
    @media (min-width: 800px) {margin-top: -4px;}
    @media (min-width: 1200px) {margin-top: 0px;}
    > li {
      float: none;
      display: inline-block;
       a {
        color: white;
        @media (max-width: 400px) {font-size: .75em;}
        @media (min-width: 400px) {font-size: .75em;}
        @media (min-width: 800px) { font-size: 1.2em;}
        @media (min-width: 1200px) {font-size: 1.5em;}
        &:hover {
          color: darkgray;
        }
      }
    }
  }

h1 {
  font-family: $sans-serif-default;
}
// bio section
#bio-lv {
  font-family: $serif-default;
  font-size: 1.25em;
  padding-top: 50px;
  border-top: medium double black;
}
#lv-outside-majestic {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(222,222,222,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(222,222,222,1);
  box-shadow: 10px 10px 5px 0px rgba(222,222,222,1);
}

.line-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}
// img gallery
#img-gallery1 {
  margin-top: 30px;
  border-bottom: thin solid gold;
}
.nopadding {
   padding: 0;
}
.full-col {
  width: 100%;
}
.img-zoom {
  overflow: hidden;
  img {
      -webkit-transition: all .3s ease; /* Safari and Chrome */
    	-moz-transition: all .3s ease; /* Firefox */
    	-o-transition: all .3s ease; /* IE 9 */
    	-ms-transition: all .3s ease; /* Opera */
    	transition: all .3s ease;
      &:hover {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
          -moz-transform:scale(1.20); /* Firefox */
          -ms-transform:scale(1.20); /* IE 9 */
          -o-transform:translatZ(0) scale(1.20); /* Opera */
          transform:translatZ(0) scale(1.20);
          opacity: 0.8;
          filter: alpha(opacity=80);
          zoom: 1;  /* needed to trigger "hasLayout" in IE if no width or height is set */
    }
  }
}

.modal-content {
  background-color: #f0f0f1;
}

// contact

#contact {
  margin-top: 30px;
  min-height: 50px;
}
hr.double-line {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid #fff;
  &:after {
  	content: '';
  	display: block;
  	margin-top: 2px;
  	border-top: 1px solid lightgray;
  	border-bottom: 1px solid #fff;
  }
}
#studio-img {
  padding-right: 0px !important;
}
blockquote {
  margin-top: 40px;
  margin-left: 20px;
      p {
        font-size: 30px;
      }
}
// footer
#footer-row {
  min-height: 250px;
  background-color: #2b292c;
  border-top: thin solid gold;
  padding-bottom: 30px;
  padding-top: 15px;
}
#footer-nav-title {
  color: white;
  font-size: 1.5em;
  font-family: $sans-serif-default;
}
#contact-form {
    color: white;
    font-family: $sans-serif-default;
  }
.contact-form-text-area {
  color: black;
}
#contact-text {
    color: white;
    font-size: 1.5em;
}
#footer-nav-list {
  color: white;
  font-family: $sans-serif-default;
  ul {
    list-style-type: none;
    font-size: 1.3em;
    a {
      color: lightgray;
      text-decoration: none;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

/*flash*/
.hidden { display: none; }

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
