// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

// Move image into transparent navbar background
#splash-img {
  margin-top: -60px;
}
// .center-block {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }
.navbar {
  background: none;
  border-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
}
.nav.navbar-nav {
    width: 100%;
    text-align: center;
    @media (min-width: 400px) {margin-top: -9px;}
    @media (min-width: 800px) {margin-top: -4px;}
    @media (min-width: 1200px) {margin-top: 0px;}
    > li {
      float: none;
      display: inline-block;
       a {
        color: white;
        @media (max-width: 400px) {font-size: .75em;}
        @media (min-width: 400px) {font-size: .75em;}
        @media (min-width: 800px) { font-size: 1.2em;}
        @media (min-width: 1200px) {font-size: 1.5em;}
        &:hover {
          color: darkgray;
        }
      }
    }
  }
.articles-section {
	font-family: serif;
	letter-spacing: 0.07rem;
	font-size: 2.5rem;
	line-height: 1.25em;
	color: #3A4145;
	font-weight: 300;
	padding-top: 20px;
}
.article-created-time {
  color: lightgray;
  font-size: 1.4rem;
  font-family: Verdana, Geneva, sans-serif;
  // font-family: $sans-serif-font;
}
.articles-section a {
	color: inherit;
}
.articles-section a:hover {
	text-decoration: none;
}
.articles-section h1 {
	font-family: sans-serif;
	font-weight: 300;
	color: #3A4145;
}

// bio section
#bio-lv {
  padding-top: 50px;
  border-top: medium double black;
}
