<header class="navbar navbar-inverse">
  <div class="container-fluid">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "About",      "#",  id: "about-lv"%></li>
<<<<<<< HEAD
        <li><%= link_to "Videos",     "#",  id: "videos-lv"%></li>
=======
>>>>>>> 5fb5ec1ac183909517ae7742744c74a5c2cf802e
        <li><%= link_to "Images",     "#",  id: "images-lv" %></li>
        <li><%= link_to "Contact",    "#" , id: "contact-lv" %></li>
        <li><%# link_to "Blog", articles_path %></li>
      </ul>
    </nav>
  </div>
</header>
